<div class="contents row">
<div style="text-align:center;"><h1>SIGN UP</h1></div>
<div class="caption">会員登録する</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
  ID
    <%= f.text_field :nickname, maxlength: "10" %>
  </div>

  <div class="field">
  Nokori Tan-i
    <%= f.text_field :tani %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div style="text-align:center;margin-top:20px;margin-bottom:20px;">
    <%= f.submit "SIGN UP" %>
  </div>
<% end %>
  </div>

<div class="links">
<%= render "devise/shared/links" %>
</div>