<!DOCTYPE html>
<html>
<head>
  <title>tan-i.org</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
<!--
    <% if user_signed_in? %>
    <div class="button"><a href="/users/<%= current_user.id %>"><i class="fi-torso"></i><%= current_user.tani %></a></div>
    <% else %>
      <div class="button"><%= link_to "login", new_user_session_path, class: 'post' %></div>
    <% end %> -->
  <div class="title"><a href="/">tan-i.org</a></div>
  <div class="menuicons">
    <% if user_signed_in? %>
      <a href="/tweets/new"><i class="fi-pencil"></i></a>
    <% else %>
      <a href="users/sign_in"><i class="fi-pencil"></i></a>
    <% end %>
    　<i class="fi-book"></i>　<a href="/music.html"><i class="fi-music"></i></a>
  </div>
    </header>
<%= yield %>

<footer>
  <div class="footer">
    <% if user_signed_in? %>
  <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
    <% else %>
  <%= link_to "SIGN IN", new_user_session_path, class: 'post' %>
    <% end %>
  </div>
</footer>

</body>
</html>
